.announcement-item {
    margin: 24px 0;

    .accordions {
        &.active {
            border: 1px solid #28A745;

            .header {
                .title {
                    font-size: 20px;
                    font-weight: 700;
                    color: #28A745;
                }
            }
        }
    }

    .header {
        display: flex;
        align-items: center;

        @media (max-width: 998px) {
            justify-content: space-between;
        }

        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            margin-right: 20px;
            color: #313131;
        }
        
        .date {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            color: #7E7E7E;
        }
    }
    
    .desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #313131;
    }
}