.accordions {
    background-color: #FFFFFF;
    width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;

    .accordions-toggle {
        .content {
            cursor: pointer;
        }
    }

    .accordions-collapse {
        .content {
            padding: 0;
            padding-top: 20px;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: #313131;
        }
    }
}