.buttons{
    &.btn{
        border: 0;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
        font-size: 14px;
        box-shadow: none !important;
        cursor: pointer;
    }

    &.btn-block{
        width: 100%;
    }

    &.btn-general{
        color: #FFFFFF !important;
        background-color: #28A745;
        border: 1px solid #28A745;

        &:hover{
            background-color: #218F3B;
            border: 1px solid #218F3B;
        }
        &:disabled{
            color: #FFFFFF;
            pointer-events: none;
            background: #D3D3D3;
            border: 1px solid #D3D3D3;
        }
    }
    
    &.btn-outline-general{
        color: #28A745 !important;
        background-color: #FFFFFF;
        border: 1px solid #28A745;

        &:hover{
            background-color: #E9E9E9;
            border: 1px solid #D3D3D3;
        }
        &:disabled{
            pointer-events: none;
            border: #D3D3D3 1px solid;
            color: #D3D3D3;
            opacity: 1;
            background-color: transparent;
        }
    }

    &.btn-xs{
        padding: 6px;
        font-size: 12px;
        line-height: 18px;
    }

    &.btn-md{
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    &.btn-lg{
        padding: 14px;
        font-size: 16px;
        line-height: 22px;
    }
}