.breadcrumbs {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    .chevron {
        width: 6px;
        transform: rotate(180deg);
        margin-right: 16px;
        filter: invert(60%) sepia(0%) saturate(4584%) hue-rotate(270deg) brightness(99%) contrast(98%);
    }

    .title {
        color: #95989A;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    &:hover {
        filter: brightness(0.8);
        text-decoration: none;
    }
}