.banner {
    position: relative;
    z-index: 0;

    .swiper {
        position: relative;
        clip-path: polygon( 0% 5.882%,0% 5.882%,0.032% 4.928%,0.125% 4.023%,0.274% 3.179%,0.473% 2.408%,0.718% 1.723%,1.003% 1.135%,1.325% 0.657%,1.676% 0.3%,2.053% 0.077%,2.451% 0%,97.549% 0%,97.549% 0%,97.947% 0.077%,98.324% 0.3%,98.675% 0.657%,98.997% 1.135%,99.282% 1.723%,99.527% 2.408%,99.726% 3.179%,99.875% 4.023%,99.968% 4.928%,100% 5.882%,100% 93.736%,100% 93.736%,99.965% 94.731%,99.865% 95.67%,99.704% 96.541%,99.49% 97.33%,99.227% 98.024%,98.922% 98.61%,98.58% 99.074%,98.208% 99.404%,97.811% 99.586%,97.395% 99.607%,2.297% 85.249%,2.297% 85.249%,1.919% 85.121%,1.562% 84.861%,1.231% 84.482%,0.931% 83.992%,0.664% 83.405%,0.437% 82.73%,0.252% 81.979%,0.115% 81.162%,0.029% 80.292%,0% 79.378%,0% 5.882% );

        .swiper-wrapper {
            .swiper-slide {
                .image-item {
                    filter: brightness(70%);
                    width: 100%;
                    height: 510px;
                    object-fit: cover;
                }
            }
        }

        .swiper-pagination {
            position: absolute;
            right: 32px;
            bottom: 42px;
            left: auto;
            width: auto;
            
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                margin: 0 5px;
                background-color: #FFFFFF;
                opacity: 1;

                &.swiper-pagination-bullet-active {
                    width: 36px;
                    background-color: #28A745;
                    border-radius: 8px;
                }
            }
        }
    }

    .banner-info {
        z-index: 2;
        position: absolute;
        color: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .title {
            font-size: 44px;
            font-weight: 700;
            line-height: 58px;
            margin-bottom: 8px;
            text-wrap: nowrap;
        }

        .motto {
            font-size: 28px;
            font-weight: 600;
            line-height: 36px;
        }
    }
}