///////PRIMARY COLOR///////

//BLUE//
$blue1  : #00649F;
$blue2  : #0079C2;
$blue3  : #5293C7;
$blue4  : #B2D6ED;
$blue5  : #E1EEFF;

//Shadow
$blue2shadow :#0079C266;

//YELLOW//
$yellow1    : #E1B526;
$yellow2    : #F9C828;
$yellow3    : #FADD7B;
$yellow4    : #FAECBC;
$yellow5    : #FFF8E0;


///////SECONDARY COLOR///////

//GREEN//
$green1 : #00850C;
$green2 : #00B110;
$green3 : #53E060;
$green4 : #9CE6A3;
$green5 : #DEF7E3;
$green6 : #139709;

//RED//
$red1   : #CC3333;
$red2   : #FF3E3E;
$red3   : #FF6363;
$red4   : #FFB3B3;
$red5   : #FFEBEB;
//Shadow
$red2shadow : #FF3E3E33;

//VIOLET//
$violet1    : #4A2794;
$violet2    : #6435C9;
$violet3    : #8059D2;
$violet4    : #A795CF;
$violet5    : #CCC1E3;

//ORANGE//
$orange1    : #C76D14;
$orange2    : #F28418;
$orange3    : #F2A963;
$orange4    : #F2CDA9;
$orange5    : #FAE7D4;

///////BLACK & GREY COLOR///////
//BLACK//
$black  : #313131;
$black2  : #414141;

//GREY//
$grey1  : #95989A;
$grey2  : #C5C5C5;
$grey3  : #E3E3E3;
$grey4  : #F1F3F4;
$grey5  : #F2F2F4;
$grey6  : #F5F5F5;
$grey7  : #D3D3D3;
$grey8  : #CCCCCC;
$grey9  : #ACA8A8;
$white  : #FFFFFF;
$blackshadow : #31313133;