.announcement-page {
    font-family: 'Assistant', sans-serif;
    padding-top: 64px;
    padding-bottom: 100px;

    .page-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #313131;
        margin-bottom: 4px;

        .title {
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
        }

        .wrap-sort {
            .dropdown-item {
                background-color: #FFFFFF;
                border: 1px solid #D8D8D8;
                border-radius: 8px;
                padding: 0;
                
                .btn-menu-item {
                    cursor: pointer;
                    font-size: 16px;
                    color: #95989A;
                    padding: 12px 16px;

                    .chevron {
                        width: 16px;
                        height: 10px;
                        margin-left: 16px;
                        transition: all 0.5s;
                        filter: invert(49%) sepia(11%) saturate(2648%) hue-rotate(81deg) brightness(105%) contrast(96%);
                    }

                    &:focus{
                        background-color: #FFFFFF;
                    }
                }

                &.show {
                    .btn-menu-item {
                        .chevron {
                            transform: rotate(180deg);
                            transition: all 0.5s;
                        }
                    }
                }

                .dropdown-menu {
                    margin-top: 4px !important;
                    background-color: #FFFFFF;
                    border-radius: 8px;
                    padding: 16px 32px;
                    border: none;
                    box-shadow: 0px 2px 4px 0px #00000040;
                    display: flex;
                    flex-direction: column;

                    .sub-menu {
                        cursor: pointer;
                        margin: 8px 0;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #000000;

                        &:hover {
                            opacity: 0.7;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .page-content {
        .announcement-list {
            margin-bottom: 64px;
        }

        .wrap-see-all {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 64px;

            .buttons {
                padding-left: 134px;
                padding-right: 134px;
            }
        }

        .wrap-gallery {
            padding-top: 52px;
            border-top: 1px solid #28A745;

            .wrap-label {
                .label {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 36px;
                    color: #313131;
                }
            }

            .wrap-content {
                margin-top: 32px;
            }
        }
    }
}