.infrastucture-page {
    position: relative;
    font-family: 'Assistant', sans-serif;
    padding-bottom: 100px;

    .top-section {
        position: relative;

        .background-section {
            position: relative;
            height: 488px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0 -50px;
            }
        }

        .page-info {
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            margin-top: 144px;

            .wrap-school-info {
                width: fit-content;
                text-align: center;
                color: #FFFFFF;

                .school-name {
                    font-size: 28px;
                    font-weight: 300;
                    line-height: 38px;
                    margin-bottom: 16px;
                }

                .page-title {
                    font-size: 58px;
                    font-weight: 700;
                    line-height: 38px;
                    margin-bottom: 16px;
                }

                .page-desc {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }

    .bottom-section {
        .facility-label {
            display: flex;
            align-items: center;
            margin: 52px 0;

            .left-section {
                margin-right: 32px;

                img {
                    height: 308px;
                }
            }

            .right-section {
                overflow: hidden;
                color: #313131;
                flex: 1;

                .label {
                    font-size: 44px;
                    font-weight: 700;
                    line-height: 58px;
                }

                .desc {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                }

                .room-facility {
                    margin: 24px 0;

                    .swiper {
                        min-height: fit-content;
                        
                        .swiper-slide {
                            width: fit-content;

                            .item {
                                cursor: pointer;
                                color: #28A745;
                                border: 1px solid #28A745;
                                padding: 10px;
                                border-radius: 8px;

                                &:hover {
                                    filter: brightness(0.8);
                                }
                            }
                        }
                    }
                }

                .additional-facility {
                    .item {
                        width: 92px;
                        height: 92px;
                        margin-right: 32px;
                    }
                }
            }
        }

        .room-facility-list {
            .room-facility-item {
                background-color: #FFFFFF;

                .wrap-room-facility {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 34px 0;

                    .content-section {
                        color: #313131;
                        margin-right: 72px;

                        .label {
                            font-size: 58px;
                            font-weight: 700;
                            line-height: 38px;
                        }

                        .desc {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 24px;
                            text-align: justify;
                            margin-top: 32px;
                        }

                        .features {
                            display: flex;
                            align-items: center;
                            margin-top: 12px;

                            .item {
                                background: #FCD59B;
                                padding: 6px 12px;
                                margin-right: 24px;
                                border-radius: 12px;
                            }
                        }
                    }

                    .media-section {
                        img {
                            width: 468px;
                            height: 412px;
                            object-fit: cover;
                            border-radius: 16px;
                        }
                    }
                }

                &.reverse {
                    background-color: #F2F2F4;

                    .wrap-room-facility {
                        flex-direction: row-reverse;

                        .content-section {
                            margin-left: 72px;
                        }
                    }
                }
            }
        }

        .wrap-see-all {
            margin-top: 54px;
            
            .container {
                display: flex;
                align-items: center;
                justify-content: center;

                .buttons {
                    padding-left: 134px;
                    padding-right: 134px;
                }
            }
        }
    }

    .wrap-floating-button {
        width: 100vw;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        .container {
            padding: 0;

            .btn-scroll-up {
                float: right;
                width: fit-content;
                cursor: pointer;
                margin: 34px;
        
                img {
                    width: 60px;
                    height: 60px;
                }
        
                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
    }
}