@import '../../../assets/colors/colors';

.password-fields {
    .text-label {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .form-container {
        position: relative;

        .form-input {
            height: 40px;
            font-size: 14px;
            background: $grey6;
            border: none;
            border-radius: 6px;
            color: $black;
            padding: 12px 40px 12px 14px;
            box-shadow: none;
    
            &:focus {
                box-shadow: 0px 1px 4px $blue2shadow;
                border: 1px solid $blue2;
                outline-color: $blue2;
            }
            &.error {
                box-shadow: 0px 1px 4px $red2shadow;
                border: 1px solid $red2;
            }
    
            &[type=number] {
                -moz-appearance: textfield;
            }
    
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
    
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $grey1;
                opacity: 1; /* Firefox */
            }
                
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $grey1;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $grey1;
            }
        }

        .btn-show-hide {
            height: 100%;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    .text-alert {
        margin-top: 4px;
        text-align: left;
        line-height: 11px;
        letter-spacing: 0px;
        color: $red2;
        font-size: 10px;
    }
}