@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

body {
    font-family: 'Assistant', sans-serif;
}

.modal-open {
    .modal-backdrop {
        &.show {
            z-index: 2;
        }

        &.pop-up-menu {
            margin-top: 88px;
        }
    }
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .container {
        padding: 0 16px;
        
        @media (min-width: 1366px) {
            max-width: 1380px;
        }
        
        @media (min-width: 1300px) {
            max-width: 1320px;
        }
    }

    .pages {
        padding-top: 88px;
        flex: 1;

        .news-page {
            font-family: 'Assistant', sans-serif;

            .top-section {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .bottom-section {}
        }
    }

    a {
        color: #313131;

        &:hover {
            color: #313131;
        }
    }

    .no-select {
        user-select: none;
        /* Standard syntax */
        -webkit-user-select: none;
        /* Webkit (Safari, Chrome) */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+ */
    }

    .default-scrollbar {
        overflow-x: hidden;
        overflow-y: auto;
    
        &::-webkit-scrollbar {
            width: 4px;
        }
    
        /* Track */
        &::-webkit-scrollbar-track {
            background: #E3E3E3;
            padding: 10px;
            border-radius: 16px;
            margin: 2px 0;
        }
    
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #AE7827;
            border-radius: 10px;
        }
    
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #AE7827;
        }
    }

    @media (max-width: 998px) {
        h3 {
            font-size: 20px !important;
            line-height: normal !important;
        }
    }
}