@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

body {
    font-family: 'Assistant', sans-serif;
}

.main {
    width: 100vw;

    .pages {
        padding-top: 88px;
    }
}