.school-residents-page {
    font-family: 'Assistant', sans-serif;
    background-color: #FAFAFA;
    padding: 70px 0;
    height: 100%;

    .page-title {
        text-align: center;

        .title {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            margin-bottom: 6px;
            color: #28A745;
        }

        .desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: #313131;
        }
    }

    .page-content {
        margin-top: 70px;

        .tab-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #28A745;

            .tab-item {
                cursor: pointer;
                background-color: #FFFFFF;
                border: 1px solid #28A745;
                padding: 20px 94px;
                font-size: 24px;
                font-weight: 700;
                line-height: 17px;
                text-align: center;
                color: #28A745;
                border-radius: 8px 30px 0 0;
                border-bottom: none;

                &.active {
                    background-color: #28A745;
                    color: #FFFFFF;
                    box-shadow: 2px 0px 4px 0px #00000040;
                }

                &:hover {
                    filter: brightness(0.8);
                }
            }
        }

        .content-section {
            column-gap: 28px;
            padding: 32px 16px 0 16px;

            .filter-section {
                max-width: 290px;
                flex: none;
                padding: 0;

                .box-filter {
                    background-color: #FFFFFF;
                    padding: 24px 16px 24px 16px;
                    border-radius: 8px;
                    color: #414141;

                    .top-filter {
                        margin: 0 8px;

                        .title {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 26px;
                        }

                        .divider-line {
                            border-top: 1px solid #D8D8D8;
                            margin: 24px 12px;
                        }

                        .filter-item {
                            border: none;
                            padding: 0;

                            .chevron {
                                width: 16px;
                                transition: all 0.5s;
                                filter: invert(52%) sepia(8%) saturate(3956%) hue-rotate(81deg) brightness(98%) contrast(91%);
                            }

                            &.active {
                                .chevron {
                                    transform: rotate(180deg);
                                    transition: all 0.5s;
                                }
                            }

                            .header-section {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .header-title {
                                    font-size: 14px;
                                    font-weight: 700;
                                    line-height: 18px;
                                }
                            }

                            .body-section {
                                max-height: 464px;
                                overflow-y: auto;
                                overflow-x: hidden;
                                padding-right: 12px;

                                .body-item {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    .body-title {
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 16px;
                                    }

                                    .checkbox {
                                        padding-bottom: 0;
                                        margin-right: -4px;
                                    }

                                    &.gap-bottom {
                                        margin-bottom: 12px;
                                    }
                                }

                                &::-webkit-scrollbar {
                                    width: 4px;
                                }

                                /* Track */
                                &::-webkit-scrollbar-track {
                                    background: #E3E3E3;
                                    padding: 10px;
                                    border-radius: 16px;
                                    margin: 2px 0;
                                }

                                /* Handle */
                                &::-webkit-scrollbar-thumb {
                                    background: #AE7827;
                                    border-radius: 10px;
                                }

                                /* Handle on hover */
                                &::-webkit-scrollbar-thumb:hover {
                                    background: #AE7827;
                                }
                            }
                        }
                    }

                    .bottom-filter {
                        .btn-show-data {
                            .buttons {
                                border-radius: 8px;
                                padding: 6px;
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }

                        .btn-reset-filter {
                            .buttons {
                                font-size: 12px;
                                font-weight: 400;
                                color: #28A745;

                                &:hover {
                                    filter: brightness(0.8);
                                }
                            }
                        }
                    }
                }

                .box-add-form {
                    background: linear-gradient(307.16deg, #FFFFFF 30.01%, #01D063 205.96%);
                    border-radius: 8px;
                    color: #414141;
                    padding: 24px 16px;
                    margin-top: 12px;

                    .title {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 26px;
                    }

                    .desc {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        margin-top: 8px;
                        margin-bottom: 24px;
                    }

                    .btn-add-form {
                        .buttons {
                            border-radius: 8px;
                            padding: 6px;
                            font-size: 12px;
                            line-height: 18px;
                            height: fit-content;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .table-section {
                padding: 0;

                .search-sort-section {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 24px;

                    .wrap-search {
                        width: 100%;

                        .search-field {
                            max-width: 588px;
                        }
                    }

                    .wrap-sort {
                        .dropdown-item {
                            background-color: #FFFFFF;
                            border: 1px solid #D8D8D8;
                            border-radius: 8px;
                            padding: 0;

                            .btn-menu-item {
                                cursor: pointer;
                                font-size: 16px;
                                color: #95989A;
                                padding: 12px 16px;

                                .chevron {
                                    width: 16px;
                                    height: 10px;
                                    margin-left: 16px;
                                    transition: all 0.5s;
                                    filter: invert(49%) sepia(11%) saturate(2648%) hue-rotate(81deg) brightness(105%) contrast(96%);
                                }

                                &:focus {
                                    background-color: #FFFFFF;
                                }
                            }

                            &.show {
                                .btn-menu-item {
                                    .chevron {
                                        transform: rotate(180deg);
                                        transition: all 0.5s;
                                    }
                                }
                            }

                            .dropdown-menu {
                                margin-top: 4px !important;
                                background-color: #FFFFFF;
                                border-radius: 8px;
                                padding: 16px 32px;
                                border: none;
                                box-shadow: 0px 2px 4px 0px #00000040;
                                display: flex;
                                flex-direction: column;

                                .sub-menu {
                                    cursor: pointer;
                                    margin: 8px 0;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    color: #000000;

                                    &:hover {
                                        opacity: 0.7;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .wrap-table {
                    .table {
                        border-radius: 8px;
                        margin-bottom: 24px;

                        td,
                        th {
                            border: none;
                            text-align: center;

                            &.corner {
                                &.top-left {
                                    border-top-left-radius: 8px;
                                }

                                &.top-right {
                                    border-top-right-radius: 8px;
                                }
                            }
                        }

                        thead {
                            background-color: #BFE5C7;
                        }

                        tbody {
                            tr {
                                text-align: center;
                                background-color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}